NANYEE_APP_ENV=production
NANYEE_LOG_LEVEL=INFO
NANYEE_DOCS_ENABLED=false
NANYEE_DATABASE_URL=postgresql+asyncpg://nanyee:REPLACE_DATABASE_PASSWORD@postgres:5432/nanyee
NANYEE_PUBLIC_ORIGIN=https://REPLACE_PUBLIC_HOST
NANYEE_API_ORIGIN=https://REPLACE_API_HOST
NANYEE_ALLOWED_HOSTS=["REPLACE_API_HOST"]
NANYEE_CORS_ORIGINS=["https://REPLACE_PUBLIC_HOST"]
NANYEE_TRUSTED_PROXY_IPS=[]
NANYEE_SESSION_SECRET=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
NANYEE_SESSION_COOKIE_NAME=__Host-nanyee_session
NANYEE_CSRF_COOKIE_NAME=nanyee_csrf
NANYEE_COOKIE_SECURE=true
NANYEE_TURNSTILE_ENABLED=true
NANYEE_TURNSTILE_SITE_KEY=REPLACE_TURNSTILE_SITE_KEY
NANYEE_TURNSTILE_SECRET_KEY=REPLACE_TURNSTILE_SECRET_KEY
NANYEE_TURNSTILE_EXPECTED_HOSTNAMES=["REPLACE_PUBLIC_HOST"]
NANYEE_SMTP_HOST=REPLACE_SMTP_HOST
NANYEE_SMTP_PORT=587
NANYEE_SMTP_USERNAME=REPLACE_SMTP_USERNAME
NANYEE_SMTP_PASSWORD=REPLACE_SMTP_PASSWORD
NANYEE_MAIL_FROM=REPLACE_MAIL_FROM
NANYEE_CREDENTIAL_KEY_PROVIDER=local_file
NANYEE_CREDENTIAL_LOCAL_MASTER_KEY=REPLACE_32_BYTE_BASE64_MASTER_KEY
NANYEE_CREDENTIAL_LOCAL_KEY_VERSION=local-v1
NANYEE_AZURE_KEY_VAULT_KEY_ID=
NANYEE_SMU_UIS_BASE_URL=https://uis.smu.edu.cn
NANYEE_SMU_ACADEMIC_BASE_URL=https://zhjw.smu.edu.cn
NANYEE_SMU_INFOSPACE_BASE_URL=https://infospace.smu.edu.cn/ic-web
NANYEE_QUN100_BASE_URL=https://form.qun100.com
NANYEE_WAKEUP_SHARE_URL=https://i.wakeup.fun/share_schedule
NANYEE_WORKER_ID=nanyee-worker-1
POSTGRES_DB=nanyee
POSTGRES_USER=nanyee
POSTGRES_PASSWORD=REPLACE_DATABASE_PASSWORD
