TZ=Asia/Shanghai
FORUM_URL=https://chat.nanyee.de
FLARUM_HOST_PORT=8890

DB_NAME=flarum
DB_USER=flarum
DB_PASS=change-me
DB_ROOT_PASS=change-me-root
DB_PREF=flarum_

FLARUM_TITLE=Nanyee Forum
FLARUM_ADMIN_USER=admin
FLARUM_ADMIN_PASS=change-me-admin
FLARUM_ADMIN_MAIL=admin@nanyee.de
DEBUG=false
